
<div layout="row">
    <span flex="5"></span>
    <h3>BEER RECIPES</h3>
</div>

<div layout="row">
    <span flex="5"></span>
        <md-table-container flex>
            <table md-table md-progress="promise">
                <thead md-head md-order="query.order" md-on-reorder="logOrder">
                <tr md-row>
                    <th md-column md-order-by="name"><span>Name</span></th>
                    <th md-column md-order-by="name"><span>Contributed by</span></th>
                    <th md-column md-order-by="name"><span>Firs brewed</span></th>
                    <th md-column md-order-by="name"><span>ABV</span></th>
                    <th md-column md-order-by="name"><span>EBC</span></th>
                    <th md-column md-order-by="name"><span>IBU</span></th>
                    <th md-column><span></span></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="beer in $ctrl.beers
        | orderBy: query.order
        | limitTo: query.limit : (query.page -1) * query.limit">
                    <td md-cell>{{beer.name}}</td>
                    <td md-cell>{{beer.contributed_by}}</td>
                    <td md-cell>{{beer.first_brewed}}</td>
                    <td md-cell>{{beer.abv}}</td>
                    <td md-cell>{{beer.ebc}}</td>
                    <td md-cell>{{beer.ibu}}</td>
                    <td md-cell>
                        <md-button class="md-raised" ng-click="$ctrl.goToDetails(beer.id)">Details</md-button>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
    <span flex="5"></span>
</div>